* {
  box-sizing: border-box;
  font-family: Vazir;
  direction: rtl;
}


@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir-Regular.eot');
  src: url('fonts/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir-Regular.woff2') format('woff2'),
       url('fonts/Vazir-Regular.woff') format('woff'),
       url('fonts/Vazir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display:swap;
}
/*

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir-Bold.eot');
  src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir-Bold.woff2') format('woff2'),
       url('fonts/Vazir-Bold.woff') format('woff'),
       url('fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display:swap;
}

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir-Thin.eot');
  src: url('fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir-Thin.woff2') format('woff2'),
       url('fonts/Vazir-Thin.woff') format('woff'),
       url('fonts/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display:swap;
}

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir-Light.eot');
  src: url('fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir-Light.woff2') format('woff2'),
       url('fonts/Vazir-Light.woff') format('woff'),
       url('fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-display:swap;
}

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir-Medium.eot');
  src: url('fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir-Medium.woff2') format('woff2'),
       url('fonts/Vazir-Medium.woff') format('woff'),
       url('fonts/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display:swap;
}

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir-Black.eot');
  src: url('fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir-Black.woff2') format('woff2'),
       url('fonts/Vazir-Black.woff') format('woff'),
       url('fonts/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-display:swap;
}
*/

body {
  text-align: right;
  font-size: 18px;
  /*background:#000 url(logo.png) top left fixed no-repeat;*/
  background: #e5f9ff !important;
}
.button {
	background: blue;
	color: white;
	border-radius: 8px;
	padding: 8px;
	line-height: 50px;
	text-decoration: none;
	cursor: pointer;
}
/* Style the tab */
.tab {
  background: linear-gradient(#fff, #dcdcdc);
  border-top: 1px solid #aaa;
  float: left;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
  /*width: 30%;*/
  /*height: 300px;*/
  width: 100%;
  /*height: auto;*/
  height: 40px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: black;
  /*width: 100%;*/
  /*display: block;*/
  width: auto;
  float: right;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 11px;
  height: 40px;
  font-size: 16px;
  border-right: 1px solid #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
}

.rows-8, .rows-3, .rows-1 {
  width: 100%;
  /*float: right;*/
  display: table;
  text-align: center;
}
.rows-8 .col, .rows-3 .col, .rows-1 .col {
  padding: 10px;
  width: 110px;
  height: auto;
  border: 1px solid black;
  /*direction: ltr;*/
  /*float: left;*/
  vertical-align: top;
  display: inline-block;
  /*display: table;*/
  /*float: none;*/
  margin: 2px;
}
.col.red {
  background: red;
}
.col.gray {
  background: gray;
}
.col.green {
  background: green;
  color: white;
}
.left-side {
  float: left;
}
.right-side {
  float: right;
}
.clear {
  clear: both;
}
